.brands {
  padding-bottom: 24px;
}

@media (min-width: $screen-m) {
  .brands {
    padding-bottom: 32px;
  }
}

@media (min-width: $screen-xl) {
  .brands {
    padding-bottom: 50px;
  }
}

.description {
  background: linear-gradient(90deg, $gray-body, $white-background);
  min-width: 320px;
  &__inner {
    padding: 16px 0;
    margin-bottom: 16px;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-second;
    text-transform: uppercase;
    margin: 0;
  }
}
@media (min-width: $screen-m) {
  .description {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $screen-xl) {
  .description {
    max-width: 1120px;
  }
}

.brand-item {
  width: 240px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $white-background;
    border: 1px solid $gray-element;
    border-radius: 6px;
  }
  &__img {
    max-height: 40px;
  }
  &__btn {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
  }
  &__btn:hover {
    opacity: 0.4;
  }
}

@media (min-width: $screen-m) {
  .brand-item {
    width: 224px;
  }
}

@media (min-width: $screen-xl) {
  .brand-item {
    width: 240px;
  }
}

.swiper {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-mask-image: linear-gradient(to left, transparent, #000 10%);
  mask-image: linear-gradient(to left, transparent, #000 10%);
}

.swiper-wrapper {
  box-sizing: border-box;
  display: flex;
  padding-bottom: 28px;
}

@media (min-width: $screen-m) {
  .swiper-wrapper {
    padding-bottom: 0;
  }
}

.swiper-slide {
  display: block;
  width: auto;
  height: auto;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  --swiper-pagination-bottom: 0;
}

@media (min-width: $screen-m) {
  .slider-1 {
    display: flex;
    width: 100%;
    -webkit-mask-image: none;
    mask-image: none;
    margin-bottom: 24px;
    &__wrapper {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      gap: 16px 24px;
      height: 160px;
    }
    &__wrapper--open {
      transition: height 0.6s ease;
      height: 336px;
    }
    &__wrapper--close {
      transition: height 0.6s ease;
      height: 160px;
    }
  }
}

@media (min-width: $screen-xl) {
  .slider-1 {
    &__wrapper {
      gap: 16px 32px;
    }
    &__wrapper--open {
      transition: height 0.6s ease;
      height: 248px;
    }
  }
}

.brand-btn {
  display: none;
}

@media (min-width: $screen-m) {
  .brand-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    &__img--rotate {
      transform: rotateX(180deg);
    }
    &__text {
      margin: 0;
    }
  }

  .brand-btn:hover {
    opacity: 0.5;
  }
}
