.header {
  background-color: $white-background;
  min-width: 320px;
  &__inner {
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $screen-xl) {
  .header {
    display: none;
  }
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 16px;
  &__logo-link:hover {
    opacity: 0.5;
  }
}

@media (min-width: $screen-m) {
  .menu-left {
    gap: 42px;
    &__logo {
      position: relative;
    }
    &__logo::before {
      content: '';
      background: $gray-element;
      width: 2px;
      height: 32px;
      position: absolute;
      right: 117px;
      top: 12px;
    }
  }
}

.menu-rigth {
  &__contacts {
    display: none;
  }
  &__application {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
  }
  &__application::before {
    content: '';
    background: $gray-element;
    width: 2px;
    height: 32px;
    position: absolute;
    right: 116px;
    top: 5px;
  }
}

@media (min-width: $screen-m) {
  .menu-rigth {
    display: flex;
    &__contacts {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-right: 42px;
    }
  }
}
