// @import '/node_modules/swiper/swiper-bundle.css';
@import 'fonts';
@import '~normalize.css';
@import 'vars';
@import 'header.scss';
@import 'services.scss';
@import 'about.scss';
@import 'brands.scss';
@import 'technics.scss';
@import 'price.scss';

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: $gray-body;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-main;
  letter-spacing: -0.01em;
}

.container {
  width: 100%;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 24px;
    margin: 0 auto;
  }
}
@media (min-width: 1120px) {
  .container {
    width: 1120px;
    margin: 0 auto;
    padding: 0 32px;
  }
}
