.btn-style {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
}

.btn-style:hover {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

$font-main: 'TTLakes', 'Arial', 'sans-serif';

$screen-xl: 1366px;

$text-main: #1b1c21;
$text-second: #7e7e82;

$gray-body: #f8f8f8;
$white-background: #ffffff;
$gray-element: #eaeaea;
$color-element-title: #41f6d7;
$color-border-menuitem: #b8ffec;
$color-btn: #ff3e79;
